__pycache__
*.egg-info
dist/
*.pyc
.venv/
.coverage
.coverage.xml
.pytest_cache/
.vim
.pytest_cache
env
venv
push_to_git.sh
.python-version
.vscode
flake8.log
myenv
.venv/
__pycache__/
/dist/
.idea/
.coverage
coverage.xml
 .codeclimate.yml
htmlcov