__pycache__
*.egg-info
dist/
*.pyc
.venv/
.coverage
.coverage.xml
.pytest_cache/
.vim
file1.json
file2.json
.pytest_cache
env
venv
push_to_git.sh
.python-version
.vscode
flake8.log
file1.json
file2.json
flat_file1.json
flat_file2.json
myenv
.venv/
__pycache__/
/dist/
.idea/